{% extends 'nav2.html' %}
{% load static %}

{% block content %}

<div class="login" xmlns="http://www.w3.org/1999/html">

<div class="log">

<form action="" method="post">
    {% csrf_token %}
<!--  <div class="imgcontainer">-->
<!--    <img src="img_avatar2.png" alt="Avatar" class="avatar">-->
<!--  </div>-->

  <div class="container">
       <label><b>HELLO!</u></b></label><br>

<table>
    <tr>
    <td><label>NAME</label></td>
   <td><input type="text" name="nam" placeholder=" name"></td>
    </tr>

      <tr>
    <td><label>D.O.B</label></td>
   <td><input type="date" name="dob" placeholder="dob"></td>
    </tr>
     <td><label>AGE</label></td>
   <td><input type="number" name="age" placeholder=""></td> &nbsp;
    </tr>

      <tr>
    <td><label>GENDER:</label></td>
   <td><input type="radio" name="gender" id="male">M &nbsp;<input type="radio" name="gender" id="Female">F</td>
    </tr>
     <tr>
    <td><label>PHONE </label></td>
   <td><input type="text" name="phone" placeholder="phonenumber"></td>
    </tr>
     <tr>
    <td><label>Email</label></td>
   <td><input type="email" name="email" placeholder="Email"></td>
    </tr>
     <tr>
    <td><label>ADDRESS</label></td>
   <td><input type="text" name="address" placeholder="address"></td>
    </tr>
    <tr>
     <td><label>DEPARTMNET</label></td>

   <td><select name="department" id="department">
       {% for i in cos %}
  <option value="dept.id">{{i.department}}</option>
         {% endfor %}
<!--  <option value="com">Commerce</option>-->
<!--  <option value="c++">C++</option>-->
<!--  <option value="java">Java</option>-->
</select></td>

    </tr>
    <tr>
    <td><label>COURSE</label></td>
    <td><select name="department" id="department">
       {% for i in cos %}
  <option value="dept.id">{{i.course_name}}</option>
         {% endfor %}
<!--  <option value="com">Commerce</option>-->
<!--  <option value="c++">C++</option>-->
<!--  <option value="java">Java</option>-->
</select></td>
    <tr>
    <td><label>PURPOSE</label></td>
 <td><select name="purpose" id="purpode">
  <option value="enquiry">Enquiry</option>
  <option value="order">Order</option>
      <option value="return">Return</option>
 </select>
 </td>
    </tr>

    <tr>
    <td><label>MATERIALS PROVIDED </label></td>
      <td><div class="form-check">
  <input class="ck1" type="checkbox" value="ck1" id="ck1">
  <label class="ck1" for="ck1">
    Exam paper
  </label>
</div>
<div class="form-check">
  <input class="ck2" type="checkbox" value="ck2" id="ck2">
  <label class="ck2" for="ck2">
    Notebook
  </label>
</div>
        <div class="form-check">
  <input class="ck2" type="checkbox" value="ck2" id="ck2">
  <label class="ck2" for="ck2">
    PEN
  </label>
</div>
        </td>
    </tr>






</table>
      <div class="logbtn">
   <button class="btn btn-warning" type="submit">submit</button>
</div>

</form>
</div>
</div>

{% endblock %}
